.App{
    padding: 20px;
}

.button{
    padding: 10px;
    margin: 5px;
    background-color: rgb(49, 172, 55);
    border-radius: 5px;
    color: #fff;
}

.button-clear{
    background-color:rgb(240, 39, 12);
}

.restaurant{
    margin-bottom: 10px;
}

.restaurant-options{
    font-weight: 600;
    color:rgb(49, 172, 55);
    margin: 0 5px;
}

.pointer{
    cursor: pointer;
}
